
.wrapper {
  max-width: 1300px;
  margin: 120px auto 40px; 
  padding: 0 20px;
}

.headerSkeleton {
  margin-bottom: 40px;
}

.titleSkeleton { 
  width: 300px; 
  height: 35px; 
  border-radius: 4px; 
}

.descSkeleton { 
  width: 600px; 
  height: 15px; 
  margin-top: 15px; 
  border-radius: 4px; 
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background: transparent; 
}

.imageBox {
  width: 100%;
  aspect-ratio: 1 / 1.1; 
  margin-bottom: 15px;
  border-radius: 12px; 
}

.info {
  padding: 0 5px;
}

.line {
  margin-bottom: 8px;
  border-radius: 4px; 
}

.nameSkeleton { width: 80%; height: 18px; }
.priceSkeleton { width: 40%; height: 16px; }
.categorySkeleton { width: 50%; height: 14px; }
.colorsSkeleton { width: 30%; height: 14px; }


.skeleton {

  background: var(--bg-primary);
  background: linear-gradient(
    110deg, 
    var(--bg-primary) 8%, 
    var(--bg-main) 18%, 
    var(--bg-primary) 33%
  );
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
}

@keyframes shine {
  to { background-position-x: -200%; }
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 769px) and (max-width: 1233px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}