/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */

    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);

    /**
     * typography
     */

    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;

    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /**
     * transition
     */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /**
     * spacing
     */

    --section-padding: 60px;

}





/*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
table,
tbody,
button,
ion-icon {
    display: block;
}

button,
input {
    font: inherit;
    background: none;
    border: none;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
    line-height: 1.8;
}

html {
    font-family: var(--ff-josefin-sans);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-size: 1.6rem;
    /* padding-block-start: 90px; */
}

html,
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}

header {
    position: fixed;
    background-color: #fff;
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    top: -15px;
    z-index: 2;
    padding-top: 20px;

    .line {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 5px;
        background-color: var(--bittersweet);
        border-radius: 0 15px 15px 0;
        -webkit-border-radius: 0 15px 15px 0;
        -moz-border-radius: 0 15px 15px 0;
        -ms-border-radius: 0 15px 15px 0;
        -o-border-radius: 0 15px 15px 0;
    }

    .icon-mobile {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            position: relative;
            cursor: pointer;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 24px;
                    width: 0;
                    height: 2px;
                    background-color: var(--bittersweet);
                    border-radius: 0 15px 15px 0;
                    -webkit-border-radius: 0 15px 15px 0;
                    -moz-border-radius: 0 15px 15px 0;
                    -ms-border-radius: 0 15px 15px 0;
                    -o-border-radius: 0 15px 15px 0;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -ms-transition: 0.3s;
                    -o-transition: 0.3s;
                }
        }

        a {
            margin: 0 25px;
            color: var(--black);
            font-size: 14px;
            width: 100%;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .list {
            display: none;
        }

        i {
            position: relative;
            margin: 0 15px;
            color: var(--black);
            font-size: 14px;
        }

        .fa-heart {
            cursor: pointer;

            .love {
                position: absolute;
                top: -6px;
                right: -10px;
                background-color: #ff6e61;
                color: #fff;
                width: 15px;
                border-radius: 50%;
                text-align: center;
                height: 15px;
                font-size: 9px;
                align-content: center;
            }

        }

        .fa-bag-shopping {
            cursor: pointer;

            .number {
                position: absolute;
                top: -6px;
                right: -10px;
                background-color: #ff6e61;
                color: #fff;
                width: 15px;
                border-radius: 50%;
                text-align: center;
                height: 15px;
                font-size: 9px;
                align-content: center;
            }
        }
    }

    .log-out-in-mobile {
        position: relative;
        padding: 10px 20px;
        background-color: var(--bittersweet);
        color: #fff;
        font-size: 15px;
        margin-left: 20px;
        font-weight: bold;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        transition: var(--transition-2);
        -webkit-transition: var(--transition-2);
        -moz-transition: var(--transition-2);
        -ms-transition: var(--transition-2);
        -o-transition: var(--transition-2);

        &:hover {
            background-color: #fff;
            color: var(--bittersweet);
        }

    }
}

@media (max-width:991px) {
    header {
        position: fixed;
        width: 100%;
        padding: 7px 10px;
        align-items: center;
        justify-content: space-between;
        padding: 7px 10px;
        top: -15px;
        z-index: 3;

        ul {
            display: none;
        }

        .icon i:not(:last-child) {
            display: none;

        }

        .icon {
            position: relative;
            margin-top: 5px;
            background-color: var(--bittersweet);
            width: 45px;
            height: 45px;
            border-radius: 10px;

            .list {
                display: block;
            }

            i {
                display: block;
                color: white;
                font-size: 22px;
            }
        }
    }
}

@media (max-width:991px) {
    header {
        .log-out-in-mobile {
            display: none;
        }

        .log-out {

            position: relative;
            padding: 10px 20px;
            background-color: var(--bittersweet);
            color: #fff;
            font-size: 15px;
            margin-left: 20px;
            font-weight: bold;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            transition: var(--transition-2);
            -webkit-transition: var(--transition-2);
            -moz-transition: var(--transition-2);
            -ms-transition: var(--transition-2);
            -o-transition: var(--transition-2);

            &:hover {
                background-color: #fff;
                color: var(--bittersweet);
            }

        }
    }

    header .icon-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: -235px;
        height: 100vh;
        background-color: #fff;

        .logo {
            position: relative;
            width: 100%;
            height: 100px;
            background-color: #e8f8f9;
            align-content: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            i {
                position: absolute;
                top: 10px;
                right: 15px;
                color: black;
                font-size: 21px;
                cursor: pointer;
            }

            img {
                width: 150px;
                height: 50px;
            }
        }

        .mobile-list {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 226px;

            li {
                display: flex;
                align-items: center;
                width: calc(100%);
                margin: 10px 0;
                padding: 5px 0;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }

                i {
                    margin-right: 10px;
                }
            }
        }

        .login {
            position: relative;
            display: block;
            width: 100%;
            margin-top: 30px;

            li {
                display: flex;
                width: 100%;
                margin: 22px 25px;
                position: relative;

                .fa-heart {
                    margin-right: 10px;
                }

                .love {
                    position: absolute;
                    top: 1px;
                    right: 41px;
                    width: 15px;
                    height: 15px;
                    background-color: var(--bittersweet);
                    border-radius: 50%;
                    color: var(--white);
                    font-size: 12px;
                    text-align: center;
                    align-content: center;
                }

                .shope {
                    margin-right: 10px;

                    .number {
                        position: absolute;
                        top: 1px;
                        right: 41px;
                        width: 15px;
                        height: 15px;
                        background-color: var(--bittersweet);
                        border-radius: 50%;
                        color: var(--white);
                        font-size: 12px;
                        text-align: center;
                        align-content: center;
                    }
                }
            }

        }
    }
}

@media (min-width:992px) {
    .icon-mobile {
        display: none;
    }

    header {


        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                position: relative;
                cursor: pointer;


                &:hover::after {
                    width: calc(100% - 48px);

                }
            }
        }
    }
}

.container{
    margin: 0 50px;
    .content{
        /* display: flex;
        align-items: flex-start;
        justify-content: center; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 170px 0;
        gap: 53px;
        padding: 0 23px;
        .our-stor{
            margin: 0 auto;
            h1{
                margin-bottom: 15px;
            }
            p{
                width: 500px;
            }
        }
        .image{
            img{
                background-color: transparent;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
}
        }
    }
}
 @media (max-width:991px) {
    .container{
        .content{
            margin-top: 100px;
            grid-template-columns: 1fr;
            .our-stor {
                p{
                    width: 100%;
                }
            }
            img {
                min-width: 200px;
                    max-width: 100%;   
                }
        }
    }
    
} 



.info{
    display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 70px 0;
        margin-top: 70px;
        gap: 53px;
        margin-top: 150px;
.icon{
    width: 237px;
    padding: 20px;
.border{
    font-size: 25px;
        padding: 15px;
        outline: 10px solid #29282845;
        width: 65px;
        border-radius: 50%;
        height: 64px;
        align-content: center;
        background-color: black;
        text-align: center;
        margin: 0 auto;
    i{
        color: white;
    }
}
h2{
    margin-top:24px;
}
span{
    font-size: 17px;
    line-height: 1.5;
}
}
}
@media (max-width:767px) {
    .info{
        flex-direction: column;
    }
    
}

.container-user{
    .users{
        display: flex;
            align-items: center;
            justify-content: space-around;
        .user{
            .image{
                width: 200px;
                display: flex;
                justify-content: space-around;
              img{
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;

              }  
            }

            .info-user{
              h2{
                margin-top: 10px;
                text-align: center;
              } 
              p{
                margin-top: 10px;
                text-align: center;
              } 
              .social{
                align-items: center;
                margin-top: 10px;;
                display: flex;
                gap: 20px;
                justify-content: center;
                a{
                    i{
                        color: #a08e8de5;
                        transition: 0.4s;
                        -webkit-transition: 0.4s;
                        -moz-transition: 0.4s;
                        -ms-transition: 0.4s;
                        -o-transition: 0.4s;
                        &:hover{
                            color: var(--bittersweet);
                        }
                    }
                }
              }
            }
        }
        }
        .doted{
            left: 50%;
                position: absolute;
                transform: translateX(-50%);
            input{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #a08e8de5;
        }
    }

}
@media (max-width:767px) {
    .container-user{
        .users{
            flex-direction: column;
            .user{
                margin-bottom: 15px;
            }
        }
    }
    
}

.serves{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .icon {
            width: 237px;
            padding: 20px;
    
            .border {
                font-size: 25px;
                padding: 15px;
                outline: 10px solid #29282845;
                width: 65px;
                border-radius: 50%;
                height: 64px;
                align-content: center;
                background-color: black;
                text-align: center;
                margin: 0 auto;
    
                i {
                    color: white;
                }   }
            h2 {
                margin-top: 24px;
            }
    
            span {
                font-size: 17px;
                line-height: 1.5;
            }
        }
}
@media (max-width:767px) {
    .serves{
        flex-direction: column;
    }
    
}

.container-footer{
    position: relative;
    background: var(--cultured);

    /* position: relative; */
    .footer {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px auto;
        width: 70%;
        padding-top: 41px;
        border-bottom: 1px solid var(--gainsboro);
        padding-bottom: 50px;

        img {
            width: 150px;
            position: relative;
        }

        .csholl-list {
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                margin-right: 10px;
                height: 40px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                color: var(--onyx);
                background-color: var(--gainsboro);
            }
        }
    }

    .our-info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        margin: 0 auto;
        width: fit-content;
        gap: 30px;
        max-width: 1121px;

        p {
            position: relative;
            font-size: 21px;
            margin-bottom: 7px;
            font-weight: bold;

            &::after {
                content: "";
                position: absolute;
                width: 50px;
                height: 2px;
                background-color: var(--bittersweet);
                left: 2px;
                bottom: -5px;
            }
        }

        .our-info>div {
            width: 100%;
            max-width: 300px;
        }

        .concat-us,
        .my-account,
        .Opening-Time,
        .Newsletter {
            text-align: start;
        }

        .concat-us {
            ul {
                margin-top: 35px;

                li {
                    margin-bottom: 15px;
                    width: 286px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        color: #929393;
                        font-size: 15px;
                    }

                    i {
                        color: var(--bittersweet);
                        font-size: 15px;
                    }
                }
            }
        }

        .my-account {
            ul {
                margin-top: 30px;
                width: 0;

                li {
                    margin-bottom: 5px;
                    width: 286px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #454545;

                    a {
                        color: #454545;
                        font-size: 15px;
                    }
                }
            }
        }

        .Opening-Time {
            ul {
                width: 195px;
                margin-top: 30px;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        display: inline;
                        font-size: 16px;

                        &:last-child {
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }

                }
            }
        }

        .Newsletter {
            ul {
                margin-top: 30px;

                li {
                    margin-bottom: 15px;
                    width: 286px;
                    display: flex;
                    align-items: center;

                    span {
                        color: #454545;
                        font-size: 14px;
                        line-height: 1.4;
                    }

                    .search {
                        display: flex;
                        align-items: center;
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        padding-left: 10px;
                        outline: none;
                        border: 1px solid var(--gainsboro);
                    }

                    .button {
                        background-color: var(--bittersweet);
                        padding: 0 -31px;
                        width: 170px;
                        height: 40px;
                        color: white;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.scroll-top {
    position: fixed;
    background: var(--bittersweet);
    width: 55px;
    height: 55px;
    bottom: 25px;
    right: 25px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    border: 5px solid white;

    a {
        color: white;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .container-footer .footer {
        flex-direction: column;
        align-items: self-start;
        gap: 12px;
        margin: 10px;
    }

    .container-footer .our-info {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin: 10px;
        width: 100%;
    }


}

@media (max-width:767px) {
    .container-footer .footer {
        flex-direction: column;
        align-items: self-start;
        gap: 12px;
        margin: 10px;
    }

    .container-footer .our-info {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin: 10px;
        width: 100%;
    }

    .container-footer .our-info .my-account {
        ul {
            li {
                /* width: 100%; */
                margin-bottom: 10px;
            }
        }
    }

    .container-footer .scroll-top {
        position: fixed;
        background: var(--bittersweet);
        width: 43px;
        height: 43px;
        bottom: 25px;
        right: 25px;
        text-align: center;
        align-content: center;
        border-radius: 50%;
        border: 4px solid white;

        a {
            color: white;
        }
    }
}
































/* js file */
.active-color {
    color: var(--bittersweet);
}

.active-background {
    background: var(--bittersweet);
    color: white;
}

