/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */

    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);

    /**
     * typography
     */

    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;

    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /**
     * transition
     */

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /**
     * spacing
     */

    --section-padding: 60px;

}





/*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
table,
tbody,
button,
ion-icon {
    display: block;
}

button,
input {
    font: inherit;
    background: none;
    border: none;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
    line-height: 1.8;
}

html {
    font-family: var(--ff-josefin-sans);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-size: 1.6rem;
    /* padding-block-start: 90px; */
}
html , body {
overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}

header {
    position: fixed;
    background-color: #fff;
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    top: -15px;
    z-index: 4;
    padding-top: 20px;

    .line {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 5px;
        background-color: var(--bittersweet);
        border-radius: 0 15px 15px 0;
        -webkit-border-radius: 0 15px 15px 0;
        -moz-border-radius: 0 15px 15px 0;
        -ms-border-radius: 0 15px 15px 0;
        -o-border-radius: 0 15px 15px 0;
    }

    .icon-mobile {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            position: relative;
            cursor: pointer;
            &::after {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 24px;
                    width: 0;
                    height: 2px;
                    background-color: var(--bittersweet);
                    border-radius: 0 15px 15px 0;
                    -webkit-border-radius: 0 15px 15px 0;
                    -moz-border-radius: 0 15px 15px 0;
                    -ms-border-radius: 0 15px 15px 0;
                    -o-border-radius: 0 15px 15px 0;
                    transition: 0.3s;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -ms-transition: 0.3s;
                    -o-transition: 0.3s;
                }
        }

        a {
            margin: 0 25px;
            color: var(--black);
            font-size: 14px;
            width: 100%;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;

        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .list {
            display: none;
        }

        i {
            position: relative;
            margin: 0 15px;
            color: var(--black);
            font-size: 14px;
        }

        .fa-heart {
            cursor: pointer;

            .love {
                position: absolute;
                top: -6px;
                right: -10px;
                background-color: #ff6e61;
                color: #fff;
                width: 15px;
                border-radius: 50%;
                text-align: center;
                height: 15px;
                font-size: 9px;
                align-content: center;
            }

        }

        .fa-bag-shopping {
            cursor: pointer;

            .number {
                position: absolute;
                top: -6px;
                right: -10px;
                background-color: #ff6e61;
                color: #fff;
                width: 15px;
                border-radius: 50%;
                text-align: center;
                height: 15px;
                font-size: 9px;
                align-content: center;
            }
        }
    }

    .log-out-in-mobile {
        position: relative;
        padding: 10px 20px;
        background-color: var(--bittersweet);
        color: #fff;
        font-size: 15px;
        margin-left: 20px;
        font-weight: bold;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        transition: var(--transition-2);
        -webkit-transition: var(--transition-2);
        -moz-transition: var(--transition-2);
        -ms-transition: var(--transition-2);
        -o-transition: var(--transition-2);

        &:hover {
            background-color: #fff;
            color: var(--bittersweet);
        }

    }
}

@media (max-width:991px) {
    header {
        position: fixed;
        width: 100%;
        padding: 7px 10px;
        align-items: center;
        justify-content: space-between;
        padding: 7px 10px;
        top: -15px;
        z-index: 3;

        ul {
            display: none;
        }

        .icon i:not(:last-child) {
            display: none;

        }

        .icon {
            position: relative;
            margin-top: 5px;
            background-color: var(--bittersweet);
            width: 45px;
            height: 45px;
            border-radius: 10px;

            .list {
                display: block;
            }

            i {
                display: block;
                color: white;
                font-size: 22px;
            }
        }
    }
}

@media (max-width:991px) {
    header {
        .log-out-in-mobile {
            display: none;
        }

        .log-out {
            position: relative;
            padding: 10px 20px;
            background-color: var(--bittersweet);
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            transition: var(--transition-2);
            -webkit-transition: var(--transition-2);
            -moz-transition: var(--transition-2);
            -ms-transition: var(--transition-2);
            -o-transition: var(--transition-2);
            left: 67px;

            &:hover {
                background-color: #fff;
                color: var(--bittersweet);
            }

        }
    }

    header .icon-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: -235px;
        height: 100vh;
        background-color: #fff;

        .logo {
            position: relative;
            width: 100%;
            height: 100px;
            background-color: #e8f8f9;
            align-content: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            i {
                position: absolute;
                top: 10px;
                right: 15px;
                color: black;
                font-size: 21px;
                cursor: pointer;
            }

            img {
                width: 150px;
                height: 50px;
            }
        }

        .mobile-list {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 226px;

            li {
                display: flex;
                align-items: center;
                width: calc(100%);
                margin: 10px 0;
                padding: 5px 0;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }

                i {
                    margin-right: 10px;
                }
            }
        }

        .login {
            position: relative;
            display: block;
            width: 100%;
            margin-top: 30px;

            li {
                display: flex;
                width: 100%;
                margin: 22px 25px;
                position: relative;

                .fa-heart {
                    margin-right: 10px;
                }

                .love {
                    position: absolute;
                    top: 1px;
                    right: 41px;
                    width: 15px;
                    height: 15px;
                    background-color: var(--bittersweet);
                    border-radius: 50%;
                    color: var(--white);
                    font-size: 12px;
                    text-align: center;
                    align-content: center;
                }

                .shope {
                    margin-right: 10px;

                    .number {
                        position: absolute;
                        top: 1px;
                        right: 41px;
                        width: 15px;
                        height: 15px;
                        background-color: var(--bittersweet);
                        border-radius: 50%;
                        color: var(--white);
                        font-size: 12px;
                        text-align: center;
                        align-content: center;
                    }
                }
            }

        }
    }
}

@media (min-width:992px) {
    .icon-mobile {
        display: none;
    }

    header {


        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                position: relative;
                cursor: pointer;


                &:hover::after {
                    width: calc(100% - 48px);

                }
            }
        }
    }
}


.hero {
    background-image: url(/assets/images/hero-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 665px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .text {
        margin-left:10%;

        h1 {
            font-size: 35px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        h2 {
            margin-bottom: 16px;
            margin-top: 20px;
            font-weight: bold;
            font-size: 50px;
            letter-spacing: 3px;
        }

        p {
            max-width: 45ch;
            font-size: 14px;
            margin-bottom: 20px;
            line-height: 1.5;
        }

        button {
            width: 110px;
            height: 35px;
            padding: 0 10px;
            border-radius: 5px;
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            background-color: var(--bittersweet);
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;

            &:hover {
                background-color: var(--salmon);

                &::after {
                    transform: translateX(-100%);
                    -webkit-transform: translateX(-100%);
                    -moz-transform: translateX(-100%);
                    -ms-transform: translateX(-100%);
                    -o-transform: translateX(-100%);
                }
            }

            a {
                color: var(--white);
                position: relative;
                overflow: hidden;
            }

            i {
                position: absolute;
                top: 50%;
                right: 5px;
                color: var(--white);
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }
    }
}

@media (max-width:991px) {
    .hero{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        .text {
            position: relative;
                button{
                position: absolute;
                left: 55px;
                }
            }
    }
    
}
.Collections {
    margin-top: 200px;
    margin-bottom: 200px;
    opacity: 0;
    transition: all var(--transition-2);
    -webkit-transition: all var(--transition-2);
    -moz-transition: all var(--transition-2);
    -ms-transition: all var(--transition-2);
    -o-transition: all var(--transition-2);
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .box {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            width: 300px;

            img {
                max-width: 100%;
            }

            h1 {
                top: 25px;
                text-align: center;
                position: absolute;
                font-size: 20px;
            }

            button {
                width: 120px;
                display: flex;
                align-items: center;
                height: 35px;
                border-radius: 5px;
                position: relative;
                bottom: 30px;
                position: absolute;
                border: 1px solid black;
                gap: 8px;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                a {
                    color: black;
                    padding-left: 10px;

                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        right: 10px;
                    }
                }
            }
        }

    }
}

@media (min-width:768px) and (max-width:991px) {
    .Collections{
        margin-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
    }
    .Collections ul {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 10px;
            padding-bottom: 15px;
            justify-content: flex-start;
            align-items: center;
            min-width: 300px;
            max-width: 600px;
    
        }
       
        
                .Collections ul .box {
                    min-width: 220px;
                    max-width: 80vw;
                    flex: 0 0 auto;
                    img {
                            width: 100%;  
                        }
                }
}
@media (max-width:767px)  {
    .Collections {
            margin-bottom: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .Collections ul {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 10px;
            padding-bottom: 15px;
            justify-content: flex-start;
            align-items: center;
            min-width: 300px;
            max-width: 300px;
    
        }
                .Collections ul .box {
                    min-width: 220px;
                    max-width: 80vw;
                    flex: 0 0 auto;
        
                    img {
                        width: 100%;
                    }
                }
    }
.Products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all var(--transition-2);
    -webkit-transition: all var(--transition-2);
    -moz-transition: all var(--transition-2);
    -ms-transition: all var(--transition-2);
    -o-transition: all var(--transition-2);

    h1 {
        font-size: 26px;
        margin-bottom: 70px;
    }

    .categories {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .item {
            border: 1px solid #eee;
            padding: 5px 12px;
            font-size: 16px;
            transition: var(--transition-2);
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            margin: 4px 4px;
            cursor: pointer;
            /* a {
                color: black;
            } */
        }
    }
    .boxs{
        margin-top: 25px;
        width: 100%;
        margin-bottom: 100px;
        .products-list{
            justify-content: center;
            gap: 10px;
            grid-template-columns: repeat(4, 225px);
            display: grid;
 
}
        li {
            position: relative;
                border: 1px solid #eee;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                height: 365px;
                text-align: center;
                @media (max-width:767px) {
                    max-width: 100%;
                }
            .icons-Products{
                z-index: 2;
                position: absolute;
                display: flex;
                top: 50%;
                flex-direction: column;
                transform: translateY(-50%);
                right: 0;
                transition: var(--transition-2);
                -webkit-transition: var(--transition-2);
                -moz-transition: var(--transition-2);
                -ms-transition: var(--transition-2);
                -o-transition: var(--transition-2);
                .icon-Products{
                    margin-bottom: 20px;
                    color: #6d6b6b73;
                    background-color: white;
                    padding: 5px;
                    font-size: 17px;
                    cursor: pointer;
                    border-radius: 50%;
                    transform: translateX(30px);
                    -webkit-transform: translateX(30px);
                    -moz-transform: translateX(30px);
                    -ms-transform: translateX(30px);
                    -o-transform: translateX(30px);
                    transition: all 0.5s;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
}
                }
            .new{
                    position: absolute;
                    top: 7px;
                    left: -23px;
                    width: 111px;
                    text-align: center;
                    transform: rotateZ(-30deg);
                    z-index: 1;
                    background-color: var(--bittersweet);
                    color: var(--white);
                    font-size: 12px;
                    padding: 5px 10px;
                    font-size: 12px;
                    -webkit-transform: rotateZ(-30deg);
                    -moz-transform: rotateZ(-30deg);
                    -ms-transform: rotateZ(-30deg);
                    -o-transform: rotateZ(-30deg);
                            }
                            .image{
                                position: relative;
                                width: 223px;
                                height: 250px;
                                object-fit: cover;
                                margin-bottom: 22px;

                            }
            img {
                position: relative;
                width: 223px;
                height: 250px;
                margin-bottom: 22px;
                transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    object-fit: cover;

            }

                h4 {
                    font-size: 16px;
            }
            .type{
                color: #989898;
                font-size: 13px;
                margin-bottom: 10px;
            }
            .price{
                color:var(--bittersweet) ;
                margin-top: 10px;
            }.del{
                color: #bdbdbd;
                text-decoration: line-through;
                margin-left: 10px;
            }
            .toggle{
                width: 100px;
                    height: 80px;
                    position: absolute;
                    left: -10px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
            }
                }
            }
        }
    @media (max-width: 767px) {
            .Products{

                .toggle {
                        width: 100px;
                        height: 80px;
                        position: absolute;
                
                        .swiap {
                            width: 100%;
                            height: 100%;
                        }   }
            }
            .Products .boxs {
                max-width: 100%;
            }  
            .Products .boxs .products-list{
                flex-wrap: wrap;
                display: flex;
            }  
            .Products .boxs .products-list li {
                margin-bottom: 20px;
            }  
            .Products .boxs .products-list li .image{
                height: 250px;

            }  
            .Products .boxs .products-list li img{
                /* width: 100%; */
                height: 100%;
            }  
            /* .Products {
                .toggle {
                        width: 100px;
                        height: 80px;
                        position: absolute;
                
                        .swiap {
                            width: 100%;
                            height: 100%;
                        }
            } */
} 

        
    .adidas{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 30px;
            @media (max-width:767px){
                flex-direction: column;

            }
            li{
                width: 36%;
                @media (max-width:900px) {
                            width: 100%; 
                            padding: 0 10px;
                }
            }
            .image-adidas{
                position: relative;
                    overflow: hidden;
                    object-fit: cover;
                    margin-bottom: 22px;
                    background-image: url(/assets/images/cta-1.jpg);
                    background-size: cover;
                    background-position: center;
                    /* width: 35%; */
                    /* width: 223px;*/
                    height: 250px; 

                    /* p{
                        color: white;
                    }
                    h2{
                        margin-top: 5px;
                        color: white;
                    }
                    button{
                    color: white;
                    } */
            }
            @media (max-width:900px) {
                .image-adidas{
                    padding: 0 10px;
                }
            }
            .image-nike{
                position: relative;
                    overflow: hidden;
                    object-fit: cover;
                    margin-bottom: 22px;
                    background-image: url(/assets/images/cta-2.jpg);
                    background-size: cover;
                    background-position: center;
                    /* width: 35%; */
                    /* width: 223px;*/
                    height: 250px; 
            }
        }
                .info {
                    color: white;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);margin-left: 30px;

                    p{
                        margin-bottom: 20px;
                    }
                    h2{
                        margin-bottom: 20px;
                    }
                    button{
                            color: inherit;
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;       
                            width: 93px;
                            font-size: 15px;
                            &::after{
                                content: "";
                                content: "";
                                width: 75%;
                                height: 1px;
                                background-color: var(--white);
                                position: absolute;
                                bottom: -5px;
                                transition:0.4s ;
                                -webkit-transition:0.4s ;
                                -moz-transition:0.4s ;
                                -ms-transition:0.4s ;
                                -o-transition:0.4s ;
}
                            &:hover:after{
                                width: 100%;
                            }
                    }
}
@media (max-width:767px) {
    .info{
        text-align: center;
    }
    button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}
.special{
    position: relative;
display: flex;
align-items: flex-start;
justify-content: center;
    .new-trend{
        position: relative;
        background-image: url(/assets/images/special-banner.jpg);
            background-size: cover;
            height: 468px;
                width: 275px;
            margin-right: 6px;
            button{
                position: absolute;
                bottom: 35px;
                margin: auto;
                width: 100%;
                a{
                    color: white;
                    border-bottom: solid;
                    width: fit-content;
                    margin: auto;
                }
                    i{
                        margin-left: 7px;
                    }

            }
            .name-trand{
                display: flex;
                    align-items: center;
                    color: white;
                    justify-content: center;
                    width: 100%;
                    top: 20px;
                    position: absolute;

                    }
            }
    }
    .nike-special{
        position: relative;
        h1{
            margin-bottom: 29px;
        }
        .line{
            width: calc(100% - 216px);
                height: 2px;
                background: #eee;
                right: 15px;
                position: absolute;
                top: 16px;
        }
        .special-list{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            scroll-snap-type: x mandatory;
            overflow-x: auto;
            max-width: 1115px;
            li{
                position: relative;
                overflow: hidden;
                text-align: center;
                width: 282px;
                    height: 392px;
                .image-cover{
                    overflow: hidden;
                }
                .image-special{
                    overflow: hidden;
                        position: relative;
                        width: 255px;
                        height: 287px;
                        object-fit: cover;
                        margin: auto;

                        margin-bottom: 20px;
                    .icons-special{
                                position: absolute;
                                top: 50px;
                                right: 0px;
                                z-index: 2;
                                transform: translateX(30px);
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 20px;
                                transition: var(--transition-2);
                                -webkit-transition: var(--transition-2);
                                -moz-transition: var(--transition-2);
                                -ms-transition: var(--transition-2);
                                -o-transition: var(--transition-2);
                                -webkit-transform: translateX(30px);
                                -moz-transform: translateX(30px);
                                -ms-transform: translateX(30px);
                                -o-transform: translateX(30px);
                                .fa-solid
{
                                    margin-top: 15px;
                                    color: #6d6b6b73;
                                    background-color: white;
                                    padding: 5px;
                                    font-size: 17px;
                                    border-radius: 50%;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    -ms-border-radius: 50%;
                                    -o-border-radius: 50%;
                                    cursor: pointer;
                        }
}
    img{
        width: 100%;
        cursor: pointer;
        margin-bottom: 20px;
}
                }
                }
                                h4 {
                                    font-size: 16px;
                                }
                
                                .type {
                                    color: #989898;
                                    font-size: 13px;
                                    margin-bottom: 10px;
                                }
                
                                .price {
                                    color: var(--bittersweet);
                                    margin-top: 10px;
                                }
                
                                .del {
                                    color: #bdbdbd;
                                    text-decoration: line-through;
                                    margin-left: 10px;
                                }
            }
            .new-special{
                position: absolute;
                top: 7px;
                left: -23px;
                width: 111px;
                text-align: center;
                transform: rotateZ(-30deg);
                z-index: 1;
                background-color: var(--bittersweet);
                color: var(--white);
                font-size: 12px;
                padding: 5px 10px;
                font-size: 12px;
                -webkit-transform: rotateZ(-30deg);
                -moz-transform: rotateZ(-30deg);
                -ms-transform: rotateZ(-30deg);
                -o-transform: rotateZ(-30deg);
            }
        }
                @media (min-width: 593px) and (max-width: 767px) {
                    .special {
                        /* flex-direction: column; */
                        flex-basis: 20px;  
                     }
                    .special .new-trend {
                    margin: auto;
                    margin-bottom: 20px;      
                 }
                    }
    @media (max-width: 592px) {
        .special {
                flex-direction: column;
                flex-basis: 20px;
            }
            .special .new-trend{
                margin: auto;
                margin-bottom: 20px;
                        }
        
    }
        /* على الشاشات الصغيرة: scroll أفقي */
        @media (max-width: 767px) {
            .nike-special{
                margin: auto;
            }
            .nike-special .special-list {
                flex-wrap: nowrap;
                    overflow-x: auto;
                    max-width: 300px;
                    margin: auto;
            }
    
            .nike-special .special-list li {
                flex: 0 0 auto;
                width: 100%;
            }
        }
    
    .call-us {
        margin-top: 40px;

        .call-us-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .call-us-item{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .image{
                display: flex;
                align-items: center;
                max-width: 70px;
                height: 70px;
                margin-right: 15px;
                background-color: var(--bittersweet);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
            }
            img{
                width: 100%;
                    height: 65px;
                    padding: 18px;
                    filter: brightness(0) invert(1);

}
.info-call{
width: 200px;
    h3{
        font-size: var(--fs-6);
    }
    p{
        font-size: var(--fs-6);
        span{
            color: var(--bittersweet);
            font-size: var(--fs-7);
            display: inline;
    }
}
            }
        }
    }
}
.insta-post{
    padding-bottom: 20px;
        /* overflow-x: auto; */
    ul{
        display: flex;
            /* flex-wrap: nowrap; */
            /* gap: 10px; */
            /* overflow-x: auto; */
            /* padding: 0; */
            /* margin: 0; */
            /* min-width: 100px; */
            width: 100%;
            /* scroll-snap-type: x mandatory; */
    }
    li{
        flex: 0 0 auto;
            /* min-width: 120px;
            max-width: 180px; */
            scroll-snap-align: start;
        lmg{
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-radius: 10px;
            display: block;
        }
    }
}
/* على الشاشات الكبيرة: خلي الصور جنب بعض وتكبر */
@media (max-width: 767px) {
    .insta-post ul {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        min-width: 0;
        width: 100vw;
    }

    .insta-post ul li {
        min-width: 180px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .insta-post ul li img {

    }
}
@media (max-width: 767px) {
    .insta-post ul {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        min-width: 0;
    }

    .insta-post li {
        margin-bottom: 10px;
    }

}
.container-footer{
    position: relative;
background: var(--cultured);
/* position: relative; */
    .footer{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px auto;
        width: 70%;
        padding-top: 41px;
        border-bottom: 1px solid var(--gainsboro);
        padding-bottom: 50px;

        img{
            width: 150px;
            position: relative;
        }
        .csholl-list{
            display: flex;
            align-items: center;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                margin-right: 10px;
                height: 40px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                color: var(--onyx);
                background-color: var(--gainsboro);
        }
    }
    }
    .our-info { 
        display: grid;
            grid-template-columns: repeat(4, 1fr);
            text-align: center;
            margin: 0 auto;
            width: fit-content;
            gap: 30px;
            max-width: 1121px;
        p{
            position: relative;
                font-size: 21px;
                margin-bottom: 7px;
                font-weight: bold;
            &::after {
                content: "";
                    position: absolute;
                    width: 50px;
                    height: 2px;
                    background-color: var(--bittersweet);
                    left: 2px;
                    bottom: -5px;
            }
        }
        .our-info > div {
            width: 100%;
                max-width: 300px;
        }
        .concat-us, .my-account , .Opening-Time, .Newsletter{
            text-align: start;
        }
        .concat-us {
            ul{
                margin-top: 35px;
                li{
                    margin-bottom: 15px;
                        width: 286px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        span{
                            color: #929393;
                            font-size: 15px;
                        }
                        i{
                            color: var(--bittersweet);
                            font-size: 15px;
                        }
                }
            }
        }
        .my-account{
            ul{
                margin-top: 30px;
                width: 0;
                li{
                    margin-bottom: 5px;
                    width: 286px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #454545;
                    a{
                        color: #454545;
                        font-size: 15px;
                    }
                }
            }
        }
        .Opening-Time{
            ul{
                width: 195px;
                    margin-top: 30px;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        display: inline;
                            font-size: 16px;
                        &:last-child {
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }

                }
        }
        } 
                .Newsletter{
                    ul{
                        margin-top: 30px;
                        li{
                            margin-bottom: 15px;
                            width: 286px;
                            display: flex;
                            align-items: center;
                            span{
                                color: #454545;
                                font-size: 14px;
                                line-height: 1.4;
                            }
                            .search{
                                display: flex;
                                align-items: center;
                            }
                                input{
                                    width: 100%;
                                    height: 40px;
                                    padding-left: 10px;
                                    outline: none;
                                    border: 1px solid var(--gainsboro);
}
                    .button{
                        background-color: var(--bittersweet);
                            padding: 0 -31px;
                            width: 170px;
                            height: 40px;
                            color: white;
                            text-align: center;
                    }
                            }
            }
        }
    } 
}


.scroll-top{
    position: fixed;
    background: var(--bittersweet);
    width: 55px;
    height: 55px;
    bottom: 25px;
    right: 25px;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    border: 5px solid white;
    a{
        color: white;
    }
}
@media (min-width:768px) and (max-width:991px)  {
    .container-footer .footer {
            flex-direction: column;
            align-items: self-start;
            gap: 12px;
            margin: 10px;
        }
    .container-footer .our-info {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin: 10px;
        width: 100%;
    }

    
}

@media (max-width:767px) {
    .container-footer .footer {
        flex-direction: column;
        align-items: self-start;
        gap: 12px;
        margin: 10px;
    }

    .container-footer .our-info {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin: 10px;
        width: 100%;
    }
    .container-footer .our-info .my-account {
        ul {
            li {
                /* width: 100%; */
                margin-bottom: 10px;
            }
        }
    }
    .container-footer .scroll-top {
        position: fixed;
        background: var(--bittersweet);
        width: 43px;
        height: 43px;
        bottom: 25px;
        right: 25px;
        text-align: center;
        align-content: center;
        border-radius: 50%;
        border: 4px solid white;
        a{
            color: white;
        }
    }
}


    /* js file */
        .active-color {
            color: var(--bittersweet);
        }
    
        .active-background {
            background: var(--bittersweet);   
            color: white;
        }