.mainWrapper {
  background: #3a3b3c 50%;
  background-size: 400% 400%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginCard {
    width: 100%;
  max-width: 440px;
  background: #ffffff0a !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border: 1px solid #ffffff14 !important;
  border-radius: 24px !important;
  box-shadow: 0 20px 50px #00000066 !important;
  transform: translateY(10px);

}
.cardBody {
  padding: 3rem 2rem !important;
}

.iconWrapper {
  text-align: center;
  margin-bottom: 1.5rem;
}
.userIcon {
  font-size: 4rem;
  color: #111111;
}
.inputGroupCustom {
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff4d;
  border: 1px solid #0000001a !important;
  transition: all 0.3s ease;
}

.iconBg {
  color: #fff6 !important;
  background: none !important;
  border: none !important;
  padding-left: 16px !important;
  padding-right: 10px !important;
}

.inputField {
  padding: 0.75rem;
  background: transparent !important;
  border: none !important;
  color: #000000 !important;
  font-weight: 500;
}

.inputField::placeholder {
  color: #ffffff88;
}

.inputGroupCustom:focus-within {
  background: rgba(255, 255, 255, 0.6);
  border-color: #0000004d !important;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.loginButton {
  width: 100%;
  background: #ffffff !important;
  color: #0d0d11 !important;
  border: none !important;
  padding: 12px !important;
  border-radius: 12px !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  letter-spacing: 0.5px;
  margin-top: 10px;
  transition: all 0.3s ease !important;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.1);
}

.loginButton:hover {
  background-color: #000000;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.signUpLink {
  color: #0056b3;
  text-decoration: none;
  font-weight: 700;
}

.signUpLink:hover {
  text-decoration: underline;
}
