.hero {
  background-image: url("/backgroud-hero_section.svg");
  width: 100%;
  height: 42vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-top: 74px;
}
.container_info {
  color: white;
  margin-left: 60px;
}
.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.p {
  line-height: 1.5;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  line-height: 1.6;
}
.button {
  background-color: white;
  color: black;
  display: inline-flex;
  justify-content: center;
  line-height: 50px;
  margin: 10px auto;
  position: relative;
  width: 200px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "AdihausDIN", sans-serif;
}
.button:hover {
  background-color: #ffffffea;
}
.button::before {
  content: "";
  border: 1px solid #eee;
  width: 100%;
  height: 46px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  z-index: -1;
}
@media (max-width: 768px) {
  .hero {
    background-image: url("/backgroud-hero_section_for_mupile.svg");
    width: 100%;
    height: 34rem;
    margin-top: 74px;
  }
  .container_info {
    position: relative;
    margin-left: 20px;
  }
}
